<style>
	body {
		background:<%=@color%>;
	}
	</style>

<h1>About me</h1>
<p>Lots of interesting stuff.</p>
<p>My favorite color is <%= @color %></p>


<% if @size > 12 %>
  <p>My shoe size is <%= @size %>. I have HUGE feet.</p>
<% else %>
  <p>My shoe size is <%= @size %></p>
<% end %>

<%= link_to "Blue", about_path(color: "blue"), class: "btn btn-primary" %>

<%= link_to "Green", about_path(color: "green"), class: "btn btn-success" %>

<%= link_to "Red", about_path(color: "red"), class: "btn btn-danger" %>

<%= link_to "Orange", about_path(color: "orange"), class: "btn btn-warning" %>



